
            {
                name: 'Anatole',
                role: 'Rhythm Guitarist',
                category: 'guitarist',
                image: '/static/images/team/anatole_2.jpg',
                bio: 'The backbone of the band's sound,he delivers seamless chords and dynamic rhythms that keep every performance alive.',
                specialty: 'Expert in crafting smooth, rhythmic patterns, Versatile across genres',
                social: {
                    facebook: 'https://web.facebook.com/desireanatole.essindimbarga',
                    instagram: '#', // Will not be displayed
                    linkedin: '#'
                }
            },



             name: 'Mohamed',
                role: 'Lead Guitarist',
                category: 'guitarist',
                image: '/static/images/team/Mohamed .jpg',
                bio: 'Passionate musician with 10 years of experience in rock music.',
                specialty: 'Electric Guitar Solos',
                social: {
                    facebook: 'https://web.facebook.com/profile.php?id=100093376500238',
                    instagram: '#', // Will not be displayed
                    linkedin: '#'
                }
            },
